---
layout: default
section_id: home
slides:
- layout: default
  title: I build stuff!
  tagline: Web Development, Web Design
  background: images/@stock/working.jpg
- layout: alt
  title: Get to know me better if you wanna!
  image_bottom: images/@stock/right-arrow.png
  background: images/@stock/water.jpg
works_left:
- title: coffee
  image: images/@stock/coffee-cup.png
  categories: who doesn't love a good cup of joe?
- title: DJing
  image: images/@stock/dj.png
  categories: they call me mani pedi
- title: swimming
  image: images/@stock/sea-and-sun.png
  categories: real talk i'm like actually a fish
works_right:
- title: The outdoors
  image: images/@stock/mountain.png
  categories: catch me outside
- title: Wine
  image: images/@stock/wine.png
  categories: you had me at pinot noir
- title: biking
  image: images/@stock/bicycle.png
  categories: something about having fun between your legs???
---

<div class="full no-padding">
  <div id="slides" class="fullscreen">
    <div class="slides-container">
      {% for slide in page.slides %}
        <div class="slide">
          <div class="slide-info">
            <div class="row">
              <div class="large-10 large-centered columns">
                {% if slide.layout == 'default' %}
                  <div class="image-wrapper" style="background-image: url(index-personal.html/{{slide.image}});"></div>
                  <div class="two spacing"></div>
                  <h1>{{slide.title}}</h1>
                  <p>{{slide.tagline}}</p>
                {% else %}
                  <div class="image-wrapper" style="background-image: url(index-personal.html/{{slide.image_top}});"></div>
                  <div class="image-wrapper arrows" style="background-image: url({{site.url}}/{{slide.image_bottom}});"></div>
                  <div class="three spacing"></div>
                  <h1>{{slide.title}}</h1>
                {% endif %}
              </div>
            </div>
          </div>
          <img src="{{site.url}}/{{slide.background}}" alt="">
        </div>
      {% endfor %}
    </div>
    <nav class="slides-navigation">
      <a href="#" class="next"><i class="icon-arrows-slim-right"></i></a>
      <a href="#" class="prev"><i class="icon-arrows-slim-left"></i></a>
    </nav>
  </div>
</div>

<div class="full centered-text light-grey">
  <div class="section-title small">
    <div class="row">
      <div class="medium-10 medium-centered columns">

        <div class="spacing"></div>
        <h2>About Me</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      <p class="big-text">
        After working in the field of Geomatics in various research and analysis postions (both in the public and private sector) I realized that I wanted to take my career in a different direction. I quit my job, moved to a pal's farm and started learning how to code. Fast forward to now, after graduating from Le Wagon coding bootcamp I am now very excited to say I am a Full Stack Web Developer!
      </p>
    </div>
  </div>
</div>
<div class="full">
  <div class="section-title">
    <div class="row">
      <div class="medium-10 medium-centered columns">
        <h2>things I like</h2>
        <p>some stuff that gets me stoked other than coding</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="gallery-left-section">
        {% for work in page.works_left %}
          <div class="work-wrapper">
            <a href="#" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-6 columns">
      <div class="gallery-right-section">
        {% for work in page.works_right %}
          <div class="work-wrapper">
            <a href="#" class="work">
              <img src="{{site.url}}/{{work.image}}" alt="">
              <div class="info">
                <h3>{{work.title}}</h3>
                <p>{{work.categories}}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
